@import "tailwindcss";

@theme {
  --color-brand-blue: #2857BF;
  --color-brand-orange: #F06B27;
  --color-brand-red: #C42701;
  --color-bg-offwhite: #FAF9F6;
  --color-dark-banner: #1E1E1E;
}

body {
  background-color: var(--color-bg-offwhite);
  color: #333333;
}
